<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-one">
            <h1>Welcome to Dirocktory (the rock directory)</h1><br>
            <h2>What is Dirocktory?</h2><br>
            <ul id="welcome-buttons">
                <li><button>I found a rock!</button></li>
                <li><button ng-click="newRock()">I have a new rock!</button></li>
            </ul>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-two">
            <h1>What is Dirocktory?</h1><br>
            <p>Dirocktory is the easiest and most fun way to track the journey of the beautiful rocks we create and find! When you find a
             rock that has been registered with Dirocktory, scanning the rock's QR code will present you with information about the rock's
            creator. Similarly, registering your rock with Dirocktory allows people who find it to see who created it and other information like
            a group facebook page that you might be associated with. Find a rock that doesnt have a Rockdirectory QR code? No Problem!
            You can register it as a finder and track it's journey (should you choose to re-hide it)</p>
        </div>
    </div>
</div>